<header>
  <nav class="navigate">
    <div class="top">
      <p>Introducing Referrals and Rewards Centre!</p>
      <button class="learn-btn">Learn more</button>
    </div>

    <div class="header">
      <div class="image">
        <img src="assets/images/eden-logo.svg" class="img-fluid" />
      </div>
      <ul>
        <li>Why Eden</li>
        <li>Services</li>
        <li>Companies</li>
        <li>Pricing</li>
        <li>Contact Us</li>
      </ul>
      <button class="start-btn">Get Started</button>
    </div>
  </nav>
</header>
